{% extends 'base.html' %}

{% block header %}
  <h3>{% block title %}Favorite Birds{% endblock %}</h3>
{% endblock %}

{% block content %}
  {% if birds == None %}
    <article class="post">
      <header>
        <div>
          <h3>Go to search to add favorite birds!</h3>
        </div>
      </header>
    </article>
  {% else %}
    {% for bird in birds %}
      <article class="post">
        <header>
          <div>
            <h3>
              <a class="action" href="{{ url_for('favorites.show', id=bird.id) }}">{{ bird.com_name }}</a>
            </h3>
            <div class="about">
              &nbsp;&nbsp;Scientific Name: {{ bird.sci_name }}<br>
              &nbsp;&nbsp;Species Code: <p style="display: inline" class="species-code">{{ bird.species_code }} </p><br>
            </div>
            <form action="{{ url_for('favorites.delete', id=bird.id) }}" method="post">
              <input class="danger" type="submit" value="Remove" onclick="return confirm('Are you sure?');">
            </form>
          </div>
        </header>
      </article>
    {% endfor %}
    <div class="email-sightings">
      <button onclick="emailFavSightings()" id="email-me">Email Nearby Observations</button>
      <button onclick="displaySightings()" id="view-map">View Map of Sightings</button>
    </div>
  {% endif %}

  <div class="favorites-map">
    <div id='map'></div>
  </div>

  <script type="text/javascript">
    $('.favorites-map').hide()

    mapboxgl.accessToken = 'pk.eyJ1IjoiYW1qMTMzIiwiYSI6ImNqaTF6dGZ6cTBhejIza3FzbGhsOHBmZG8ifQ.YRKopJwU0idtffBarsWgaA';

    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v9',
      center: [{{ lng }}, {{ lat }}],
      zoom: 8
    });

    const displaySightings = async () => {
      map.addSource("polygon", createGeoJSONCircle([{{ lng }}, {{ lat }}], 30));
      map.addLayer({
          "id": "polygon",
          "type": "fill",
          "source": "polygon",
          "layout": {},
          "paint": {
              "fill-color": "rgb(90, 180, 200)",
              "fill-opacity": 0.3
          }
      });
      $('.favorites-map').show()
      const rawSightings = await getFavSightings()
      let sightingsGeoJSON = createGeoJSONPoints(rawSightings)
      let i = 0
      sightingsGeoJSON.forEach(function(sightings) {
        map.addLayer({
          "id": "sightings" + i,
          "type": "circle",
          "source": {
            "type": "geojson",
            "data": {
              "type": "FeatureCollection",
              "features": sightings
            }
          },
          "paint": {
            "circle-color": `rgb(${Math.floor(Math.random() * 256)}, ${Math.floor(Math.random() * 256)}, ${Math.floor(Math.random() * 256)})`,
            "circle-radius": 5,
            "circle-stroke-width": 2,
            "circle-stroke-color": "#fff"
          }
        })
        map.on('mouseenter', 'sightings' + i, function () {
            map.getCanvas().style.cursor = 'pointer';
        });
        map.on('mouseleave', 'sightings' + i, function () {
            map.getCanvas().style.cursor = '';
        });
        i += 1
      })
    }

    const getFavSightings = async () => {
      const speciesCodes = getSpeciesCodes()
      const header = {headers: {'X-eBirdApiToken': 'hv9rjmnpb5vo'}}
      const lat = {{ lat }}
      const lng = {{ lng }}
      let sightings = speciesCodes.map(async (speciesCode) => {
        const url = `https://ebird.org/ws2.0/data/obs/geo/recent/${speciesCode}?lat=${lat}&lng=${lng}&distance=25`
        const newSightings = await getBirdSightings(url, header)
        return newSightings
      })
      return Promise.all(sightings)
    }
  </script>
{% endblock %}
