{% extends 'base.html' %}

{% block header %}
  <h3>{% block title %}{{ variable }} Favorite Birds{% endblock %}</h3>
{% endblock %}

{% block content %}
  {% if birds == None %}
    <article class="post">
      <header>
        <div>
          <h3>Go to search to add favorite birds!</h3>
        </div>
      </header>
    </article>
  {% else %}
    {% for bird in birds %}
      <article class="post">
        <header>
          <div>
            <h3>
              <a class="action" href="{{ url_for('favorites.show', id=bird.id) }}">{{ bird.com_name }}</a>
            </h3>
            <div class="about">
              &nbsp;&nbsp;Scientific Name: {{ bird.sci_name }}<br>
              &nbsp;&nbsp;Species Code: {{ bird.species_code }}<br>
            </div>
            <form action="{{ url_for('favorites.delete', id=bird.id) }}" method="post">
              <input class="danger" type="submit" value="Remove" onclick="return confirm('Are you sure?');">
            </form>
          </div>
        </header>
      </article>
    {% endfor %}
    <div class="email-sightings">
      <button onclick="emailFavSightings()" id="email-me">Email Nearby Observations</button>
    </div>
  {% endif %}
{% endblock %}
