{% extends 'base.html' %}

{% block header %}
  <h3>{% block title %}Favorite Birds{% endblock %}</h3>
{% endblock %}

{% block content %}
  {% if birds == None %}
    <article class="post">
      <header>
        <div>
          <h3>Go to search to add favorite birds!</h3>
        </div>
      </header>
    </article>
  {% else %}
    {% for bird in birds %}
      <article class="post">
        <header>
          <div>
            <h3>
              <a class="action" href="{{ url_for('favorites.show', id=bird.id) }}">{{ bird.com_name }}</a>
            </h3>
            <div class="about">
              &nbsp;&nbsp;Scientific Name: {{ bird.sci_name }}<br>
              &nbsp;&nbsp;Species Code: <p style="display: inline" class="species-code">{{ bird.species_code }} </p><br>
            </div>
            <form action="{{ url_for('favorites.delete', id=bird.id) }}" method="post">
              <input class="danger" type="submit" value="Remove" onclick="return confirm('Are you sure?');">
            </form>
          </div>
        </header>
      </article>
    {% endfor %}
    <div class="email-sightings">
      <button onclick="emailFavSightings()" id="email-me">Email Nearby Observations</button>
      <button onclick="displaySightings()" id="view-map">View Map of Sightings</button>
    </div>
  {% endif %}

  <div class="favorites-map">
    <div id='map'></div>
  </div>

  <script type="text/javascript">
    $('.favorites-map').hide()

    mapboxgl.accessToken = 'pk.eyJ1IjoiYW1qMTMzIiwiYSI6ImNqaTF5aTNtNTFud3ozcXA4aDVpZXNjd3gifQ.qbCDgNEc8vIq-WZYV_taow';

    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v9',
      center: [{{ lng }}, {{ lat }} + 0.52],
      zoom: 8
    });

    const displaySightings = async () => {
      var createGeoJSONCircle = function(center, radiusInKm) {
        var points = 64;

        var coords = {
            latitude: center[1],
            longitude: center[0]
        };

        var km = radiusInKm;

        var ret = [];
        var distanceX = km/(111.320*Math.cos(coords.latitude*Math.PI/180));
        var distanceY = km/110.574;

        var theta, x, y;
        for(var i=0; i<points; i++) {
            theta = (i/points)*(2*Math.PI);
            x = distanceX*Math.cos(theta);
            y = distanceY*Math.sin(theta);

            ret.push([coords.longitude+x, coords.latitude+y]);
        }
        ret.push(ret[0]);

        return {
            "type": "geojson",
            "data": {
                "type": "FeatureCollection",
                "features": [{
                    "type": "Feature",
                    "geometry": {
                        "type": "Polygon",
                        "coordinates": [ret]
                    }
                }]
            }
        };
      };

      map.addSource("polygon", createGeoJSONCircle([-105.27, 39.94], 30));

      map.addLayer({
          "id": "polygon",
          "type": "fill",
          "source": "polygon",
          "layout": {},
          "paint": {
              "fill-color": "rgb(90, 180, 200)",
              "fill-opacity": 0.3
          }
      });

      $('.favorites-map').show()
      const sightings = await getFavSightings()
      let points = sightings.map(function(birdSightings) {
        return birdSightings.map(function(sighting) {
          return {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [sighting.lng, sighting.lat]
            },
            "properties": {
              "comName": sighting.comName,
              "sciName": sighting.sciName,
              "locName": sighting.locName,
              "obsDt": sighting.obsDt,
              "howMany": sighting.howMany
            }
          }
        })
      })
      let i = 0
      points.forEach(function(point) {
        map.addLayer({
          "id": "stations" + i,
          "type": "circle",
          "source": {
            "type": "geojson",
            "data": {
              "type": "FeatureCollection",
              "features": point
            }
          },
          "paint": {
            "circle-color": `rgb(${Math.floor(Math.random() * 256)}, ${Math.floor(Math.random() * 256)}, ${Math.floor(Math.random() * 256)})`,
            "circle-radius": 5,
            "circle-stroke-width": 2,
            "circle-stroke-color": "#fff"
          }
        })
        map.on('mouseenter', 'stations' + i, function () {
            map.getCanvas().style.cursor = 'pointer';
        });
        map.on('mouseleave', 'stations' + i, function () {
            map.getCanvas().style.cursor = '';
        });
        i += 1
      })
    }

    map.on('click', function(e) {
      var features = map.queryRenderedFeatures(e.point);

      if (!features.length) {
        return;
      }

      var feature = features[0];

      var popup = new mapboxgl.Popup({ offset: [0, -15] })
        .setLngLat(feature.geometry.coordinates)
        .setHTML('<h3>' + feature.properties.comName
                 + '</h3><p> Scientific Name: ' + feature.properties.sciName
                 + '</h3><p> Location: ' + feature.properties.locName
                 + '</h3><p> Date & Time(24 hr): ' + feature.properties.obsDt
                 + '</h3><p> How Many: ' + feature.properties.howMany
                 + '</p>')
        .setLngLat(feature.geometry.coordinates)
        .addTo(map);
    });

    const getSpeciesCodes = () => {
      return $(".species-code").text().split(" ").join(" ").trim().split(" ")
    }

    const getBirdSightings = (url, header) => {
      return fetch(url, header)
        .then((response) => response.json())
        .then((favSightings) => favSightings)
    }

    const getFavSightings = async () => {
      const speciesCodes = getSpeciesCodes()
      const header = {headers: {'X-eBirdApiToken': 'hv9rjmnpb5vo'}}
      let sightings = speciesCodes.map(async (speciesCode) => {
        const url = `https://ebird.org/ws2.0/data/obs/geo/recent/${speciesCode}?lat=39.94&lng=-105.27&distance=25`
        const newSightings = await getBirdSightings(url, header)
        return newSightings
      })
      return Promise.all(sightings)
    }
  </script>
{% endblock %}
