  {% extends 'base.html' %}

{% block header %}
  <h3>{% block title %}Search for your favorite birds by species code{% endblock %}</h3>
{% endblock %}

{% block content %}
  <article class="post">
    <header>
      <div id="search-container">
        <div class="fav-search-species">
          <label for="species-code">Species Code&nbsp;&nbsp;&nbsp;</label>
          <input name="species-code" id="species-code" required><br>
        </div>
        <button value="button" class="favorite-search-species">Search</button>
      </d iv>
      <h4>To download a complete list of species with common names, scientific names, and species codes, <a style="text-decoration: none" href=https://ebird.org/ws2.0/ref/taxonomy/ebird target="_blank">click here</a></h4>
    </header>
  </article>
  <div class="loader">
    <div class="loading"></div>
  </div>
  <section class="search-results">
    <button onclick="addFavoriteBirds()" class="add-birds">Add Favorite Birds</button>
  </section>
{% endblock %}
